.cat-container{
  padding: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  box-shadow: 2px 2px 15px black;
  border-radius: 10%;  
  flex-direction: column;
  
}
.cat-container img{
  width: 200px;
  height: 200px;
object-fit: contain;

}